In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data=pd.read_csv('F:/Python Programs/DataSets/house_prices/train.csv')
test=pd.read_csv('F:/Python Programs/DataSets/house_prices/test.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [4]:
#SHOW NaN--------------------

l=data.isna().sum()
nan_counts={}
j=0
for i in data.columns:
    nan_counts[i]=l[j]
    j+=1
for i in nan_counts: #print columns having only nan_values
    if nan_counts[i]>0:
        print(i,':',nan_counts[i])

LotFrontage : 259
Alley : 1369
MasVnrType : 8
MasVnrArea : 8
BsmtQual : 37
BsmtCond : 37
BsmtExposure : 38
BsmtFinType1 : 37
BsmtFinType2 : 38
Electrical : 1
FireplaceQu : 690
GarageType : 81
GarageYrBlt : 81
GarageFinish : 81
GarageQual : 81
GarageCond : 81
PoolQC : 1453
Fence : 1179
MiscFeature : 1406

In [5]:
#Dropping redundant columns----------------
data.drop(['Id','FireplaceQu','PoolQC','Fence','MiscFeature','Alley'],axis=1,inplace=True)
data.drop(['MoSold','YrSold'],axis=1,inplace=True)
test.drop(['Id','FireplaceQu','PoolQC','Fence','MiscFeature','Alley'],axis=1,inplace=True)
test.drop(['MoSold','YrSold'],axis=1,inplace=True)

In [6]:
#After dropping columns with most Nan-----------

l=data.isna().sum()
nan_counts={}
j=0
for i in data.columns:
    nan_counts[i]=l[j]
    j+=1
for i in nan_counts: #print columns having only nan_values
    if nan_counts[i]>0:
        print(i,':',nan_counts[i])

LotFrontage : 259
MasVnrType : 8
MasVnrArea : 8
BsmtQual : 37
BsmtCond : 37
BsmtExposure : 38
BsmtFinType1 : 37
BsmtFinType2 : 38
Electrical : 1
GarageType : 81
GarageYrBlt : 81
GarageFinish : 81
GarageQual : 81
GarageCond : 81

In [7]:
def nan_replace(array): #replace Nan with median-----------------
    if array.isna().sum()>0:
        array=array.fillna(array.median())
    return array

In [8]:
#replacing nan with median of columns having non Object dtype---------- TRAIN
for i in nan_counts:
    if data.dtypes[i]!='O':
        data[i]=nan_replace(data[i])
        nan_counts[i]=data[i].isna().sum()

#printing Object dtype cols with Nan--------
print('\n\n****Object Dtypes with Nan remaining****\n\n')
for i in nan_counts:
    if nan_counts[i]>0:
        print(i,':',nan_counts[i])

****Object Dtypes with Nan remaining****


MasVnrType : 8
BsmtQual : 37
BsmtCond : 37
BsmtExposure : 38
BsmtFinType1 : 37
BsmtFinType2 : 38
Electrical : 1
GarageType : 81
GarageFinish : 81
GarageQual : 81
GarageCond : 81

In [9]:
for i in test.columns: # TEST-----
    if test.dtypes[i]!='O' and test[i].isna().sum()>0:
        test[i]=nan_replace(test[i])

# Function to replace Nan in Categorical cols

In [10]:
# function to replace Nan with mode() of categorical cols-----
def replace_cat(array):
    array=array.fillna(array.mode()[0])
    return array

In [11]:
for i in data.columns: #TRAIN----
    if data.dtypes[i]=='O' and data[i].isna().sum()>0:
        data[i]=replace_cat(data[i])

In [12]:
for i in test.columns: #Test----
    if test.dtypes[i]=='O' and test[i].isna().sum()>0:
        test[i]=replace_cat(test[i])

In [13]:
data.shape

(1460, 73)

In [14]:
test.shape

(1459, 72)

In [15]:
data['YearBuilt']=pd.to_datetime(data['YearBuilt'])
data['YearRemodAdd']=pd.to_datetime(data['YearRemodAdd'])

test['YearBuilt']=pd.to_datetime(test['YearBuilt'])
test['YearRemodAdd']=pd.to_datetime(test['YearRemodAdd'])

In [16]:
final_train=pd.DataFrame()#final train-----
reference_dict={} #-----> TO LABEL ENCODE WITH REFERENCE TO TRAIN DATA ON TEST DATA, stores label values
for i in data.columns:
    col=i
    if data.dtypes[i]=='O':
        d={}
        x=data[i]
        t=pd.unique(x)
        for j in range(0,len(t)):
            d[t[j]]=j
            reference_dict[t[j]]=j

        df=[]
        for i in x:
            df.append(d[i])
        df=pd.DataFrame(df,columns=[col])
        final_train=pd.concat([final_train,df],axis=1)
    elif data.dtypes[i]!='O' and data.dtypes[i]!='<M8[ns]':
        final_train=pd.concat([final_train,data[i]],axis=1)

In [17]:
final_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,SaleType,SaleCondition,SalePrice
0,60,0,65.0,8450,0,0,0,0,0,0,...,0,61,0,0,0,0,0,0,0,208500
1,20,0,80.0,9600,0,0,0,0,1,0,...,298,0,0,0,0,0,0,0,0,181500
2,60,0,68.0,11250,0,1,0,0,0,0,...,0,42,0,0,0,0,0,0,0,223500
3,70,0,60.0,9550,0,1,0,0,2,0,...,0,35,272,0,0,0,0,0,1,140000
4,60,0,84.0,14260,0,1,0,0,1,0,...,192,84,0,0,0,0,0,0,0,250000

In [18]:
final_test=pd.DataFrame() #final test-----
for i in test.columns:
    col=i
    if test.dtypes[i]=='O':
        x=test[i]
        t=pd.unique(x)
        
        df=[]
        for i in x:
            df.append(reference_dict[i])
        df=pd.DataFrame(df,columns=[col])
        final_test=pd.concat([final_test,df],axis=1)
    elif test.dtypes[i]!='O' and test.dtypes[i]!='<M8[ns]':
        final_test=pd.concat([final_test,test[i]],axis=1)

In [19]:
final_test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,SaleType,SaleCondition
0,20,4,80.0,11622,0,0,0,0,0,0,...,0,140,0,0,0,120,0,0,0,0
1,20,0,81.0,14267,0,1,0,0,2,0,...,0,393,36,0,0,0,0,12500,0,0
2,60,0,74.0,13830,0,1,0,0,0,0,...,0,212,34,0,0,0,0,0,0,0
3,60,0,78.0,9978,0,1,0,0,0,0,...,0,360,36,0,0,0,0,0,0,0
4,120,0,43.0,5005,0,1,3,0,0,0,...,0,0,82,0,0,144,0,0,0,0

In [20]:
final_train.shape

(1460, 71)

In [21]:
final_test.shape

(1459, 70)

# VALIDATING ON TRAIN SET--------------

In [22]:
label=final_train['SalePrice']
final_train.drop(['SalePrice'],axis=1,inplace=True)

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(final_train,label,test_size=0.1,random_state=0)
#x_train,x_test=x_train.to_numpy(),x_test.to_numpy()

In [39]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import GradientBoostingRegressor,AdaBoostRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_log_error
grb=GradientBoostingRegressor()

In [42]:
param=[{'n_estimators':[50,60,65,70,75,80,85,90,95,100],'max_depth':[2,3,4,5,6],'alpha':[0.7,0.75,0.8,0.85,0.9]}]
grid=GridSearchCV(GradientBoostingRegressor(),param_grid=param,cv=5,scoring='neg_mean_squared_error',
                  return_train_score=True)
grid.fit(x_train,y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0,
                                                 criterion='friedman_mse',
                                                 init=None, learning_rate=0.1,
                                                 loss='ls', max_depth=3,
                                                 max_features=None,
                                                 max_leaf_nodes=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=100,
                                                 n_iter_n...
                                                 presort='deprecated',
                                                 random_state=None,
                                                 subsample=1.0, tol=0.0001,
                                                 validation_fraction=0.1,
                                                 verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'alpha': [0.7, 0.75, 0.8, 0.85, 0.9],
                          'max_depth': [2, 3, 4, 5, 6],
                          'n_estimators': [50, 60, 65, 70, 75, 80, 85, 90, 95,
                                           100]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring='neg_mean_squared_error', verbose=0)

In [43]:
grid.best_params_

{'alpha': 0.8, 'max_depth': 5, 'n_estimators': 100}

In [119]:
grb=GradientBoostingRegressor(alpha=0.78,max_depth=3,n_estimators=100)
grb.fit(x_train,y_train)
y_pred=grb.predict(x_test)
from sklearn.metrics import mean_squared_log_error
print('mean_squared_log_error : ',mean_squared_log_error((y_test),(y_pred)))

mean_squared_log_error :  0.01342702457989431

# Fitting the model with Train data completely for testing---

In [120]:
final_train=pd.DataFrame()#final train-----
reference_dict={} #-----> TO LABEL ENCODE WITH REFERENCE TO TRAIN DATA ON TEST DATA
for i in data.columns:
    col=i
    if data.dtypes[i]=='O':
        d={}
        x=data[i]
        t=pd.unique(x)
        for j in range(0,len(t)):
            d[t[j]]=j
            reference_dict[t[j]]=j

        df=[]
        for i in x:
            df.append(d[i])
        df=pd.DataFrame(df,columns=[col])
        final_train=pd.concat([final_train,df],axis=1)
    elif data.dtypes[i]!='O' and data.dtypes[i]!='<M8[ns]':
        final_train=pd.concat([final_train,data[i]],axis=1)

label=final_train['SalePrice']
final_train.drop(['SalePrice'],axis=1,inplace=True)

#from sklearn.ensemble import RandomForestRegressor
gbr=GradientBoostingRegressor(n_estimators=100,loss='ls',alpha=0.78,learning_rate=0.1,max_depth=3)
gbr.fit(final_train.to_numpy(),label)
#rf=RandomForestRegressor(n_estimators=100,random_state=42)#RandomForestRegressor object
#rf.fit(final_train.to_numpy(),label)

GradientBoostingRegressor(alpha=0.78, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [121]:
#final_test=(final_test.to_numpy())
test_predictions=gbr.predict(final_test)

In [124]:
final_output={'Id':[i for i in range(1461,2920)],'SalePrice':test_predictions}
final_output=pd.DataFrame(final_output)
final_output.head(15)

      Id      SalePrice
0   1461  123146.959262
1   1462  160138.462614
2   1463  184633.805321
3   1464  174601.971228
4   1465  197804.312220
5   1466  180226.845225
6   1467  170003.733268
7   1468  162907.391458
8   1469  189816.888859
9   1470  125569.267025
10  1471  199188.194347
11  1472  101212.733967
12  1473  108344.043547
13  1474  149874.437238
14  1475  144752.111661

In [123]:
final_output.to_csv(r'F:/Python Programs/SalePredictions_new_31july.csv', index = False)