In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('F:/Python Programs/DataSets/Purchase.csv')

In [69]:
data.head(10)

   Gender  Age  EstimatedSalary  Purchased
0       0   35            57000          0
1       0   58            95000          1
2       0   26            80000          0
3       1   34           115000          0
4       0   33            41000          0
5       0   21            16000          0
6       1   40            71000          1
7       1   35            53000          0
8       0   58            47000          1
9       0   35            60000          0

In [11]:
data.drop(['User ID'],axis=1,inplace=True)

In [12]:
data['Gender']=pd.get_dummies(data['Gender'],drop_first=True)

In [42]:
features=data.iloc[:,[0,1,2]]
label=data.iloc[:,3]

In [84]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.model_selection import cross_val_score

In [83]:
x_train,x_test,y_train,y_test=train_test_split(features,label,test_size=0.33,random_state=0)
classifier=KNeighborsClassifier(n_neighbors=3)
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

print(classification_report(y_test,y_pred))
print(cross_val_score(KNeighborsClassifier(n_neighbors=3),features,label,cv=5).mean())

              precision    recall  f1-score   support

           0       0.71      0.91      0.80        74
           1       0.82      0.53      0.65        58

    accuracy                           0.74       132
   macro avg       0.76      0.72      0.72       132
weighted avg       0.76      0.74      0.73       132

0.8

In [105]:
x_train,x_test,y_train,y_test=train_test_split(features,label,test_size=0.25,random_state=0)
classifier=GaussianNB()
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print("%.2f"%(cross_val_score(GaussianNB(),features,label,cv=5).mean()))

[[54  1]
 [ 8 37]]
              precision    recall  f1-score   support

           0       0.87      0.98      0.92        55
           1       0.97      0.82      0.89        45

    accuracy                           0.91       100
   macro avg       0.92      0.90      0.91       100
weighted avg       0.92      0.91      0.91       100

0.89